<!DOCTYPE html>
<html lang="en">
  {% extends 'djangopostgis/home1.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {{ m|safe }} -->
    <div class ="col-sm-8 text-white mt-4">
           
        <div style ="width: 750px;
        border: 5px solid green;
        padding: 5px;
        margin-left: 450px;
        background-repeat : no-repeat;">
        <!-- {% if m %} -->
        <!-- {{geometry_coordinate}} -->
          <!-- {{geometry_coordinate|safe}} -->
          {{ m|safe }}
           <!-- {{data_1}} -->
        <!-- {% else %} -->
          <!-- {{ m2|safe}} -->
        <!-- {% endif %} -->
          </div>
</body>
</html>