<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class ="row">
        <div class ="col-lg-4 text-white mt-4">
            <form method="POST" action ="" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="uploadfiles" autocomplete="off" required multiple><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class ="col-lg-8 text-white mt-4">
           
            <div style ="width: 750px;
            border: 5px solid green;
            padding: 5px;
            margin-left: 450px;
            background-repeat : no-repeat;">
        <!-- {{states}} -->
          {{m|safe}}
    </div>
    </div>
    </body>
    <!-- <form method="POST" action ="/map_name" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="docfile"><br><br>
        <input type="submit" value="Submit">
    </form> -->
</body>
</html>